<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <!--<h1 class="page-header">Dashboard</h1>-->
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-info-circle"></i> Today 9:41 - Mark D. updated income statement.
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bar-chart fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="dashboard-box-heading">BestRice Cuisine</div>
                        <div>Food services</div>
                        <div class="dashboard-box-info-small">Company Value :<span class="pull-right">$10,300</span></div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Full Profile</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                      <div class="dashboard-summary-detail">Total Asset  :<span class="pull-right">$50,000</span></div><hr>
                      <div class="dashboard-summary-detail">Monthly Income  :<span class="pull-right">$25,000</span></div>
                      <div class="dashboard-summary-detail">Monthly Expense :<span class="pull-right">$14,700</span></div><br>
                      <div class="text-right dashboard-summary-small">(Last Updated: 12 Nov 2016 9:41)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-brown">
            <div class="panel-heading">
                <div class="row">
                    <div class="text-right">
                        <div>You must keep</div>
                        <div class="huge">$12,000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3">
        <div class="panel panel-green-yellow">
          <div class="panel-heading">
              <div class="row">
                  <div class="text-right">
                      <div>You can spend</div>
                      <div class="huge">$8,000</div>
                  </div>
              </div>
          </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-user fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="dashboard-box-heading">Mark D.</div>
                        <div class="dashboard-box-info">3-month plan</div>
                        <div>Expired date: 11 Dec 2016 24:59</div>
                        <div>Total Spend: $730 (1 year)</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">View Plan</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

</div>
<!-- /.row -->

<div class="row">
    <div class="col-md-6 col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Income</h3>
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart-income"></div>
                <div class="text-right">
                    <a href="#">View Income Statement Report <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="panel panel-red">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Expense</h3>
            </div>
            <div class="panel-body">
                <div id="morris-donut-chart-expense"></div>
                <div class="text-right">
                    <a href="#">View Income Statement Report <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-4">
        <div class="panel panel-green">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Financial Activities</h3>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">just now</span>
                        <i class="fa fa-fw fa-usd"></i> Pay for chicken delivery $10
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">4 minutes ago</span>
                        <i class="fa fa-fw fa-usd"></i> Pay restuarant rent $2,000
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">46 minutes ago</span>
                        <i class="fa fa-fw fa-usd"></i> Invoice 653 has been paid $250
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">1 hour ago</span>
                        <i class="fa fa-fw fa-usd"></i> Buy new tables $115
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">yesterday</span>
                        <i class="fa fa-fw fa-user"></i> Withdraw $400
                    </a>
                    <a href="#" class="list-group-item">
                        <span class="badge">two days ago</span>
                        <i class="fa fa-fw fa-usd"></i> Pay for electricity $50
                    </a>
                </div>
                <div class="text-right">
                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>