<!-- Page Heading -->
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="input-group">
          <div class="input-group-btn search-panel">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">Filter by</span> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#contains">Skill</a></li>
                <li><a href="#its_equal">Experience</a></li>
                <li><a href="#greather_than">Name</a></li>
                <li><a href="#less_than">Country</a></li>
                <li class="divider"></li>
                <li><a href="#all">All</a></li>
              </ul>
          </div>
          <input type="hidden" name="search_param" value="all" id="search_param">
          <input type="text" class="form-control" name="x" placeholder="Search accountant...">
          <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
          </span>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="imgs/accountant1.jpg" alt="">
            <div class="caption">
                <h4 class="pull-right">$2/day</h4>
                <h4><a href="profile">Mark D.</a></h4>
                <p>Degree in Financial Accounting at ABC University. Master in Advanced Management with over 8 years experience.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">3 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
            <div>
              <a class="btn btn-group center-block" href="profile">View Profile</span></a>
              <a class="btn btn-primary center-block" href="#">Buy Now</span></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="imgs/accountant4.jpg" alt="">
            <div class="caption">
                <h4 class="pull-right">$50/mo</h4>
                <h4><a href="profile">Ben Ten</a>
                </h4>
                <p>I can work on project related to Inventory management, Risk Analysis, Budgeting, Finance etc.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">12 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
            <div>
              <a class="btn btn-group center-block" href="profile">View Profile</span></a>
              <a class="btn btn-primary center-block" href="#">Buy Now</span></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="imgs/accountant3.jpg" alt="">
            <div class="caption">
                <h4 class="pull-right">$40/mo</h4>
                <h4><a href="profile">Steve Works</a>
                </h4>
                <p>With years of experience, I am your one stop solution for all accounting and finance related problems.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">31 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
            <div>
              <a class="btn btn-group center-block" href="profile">View Profile</span></a>
              <a class="btn btn-primary center-block" href="#">Buy Now</span></a>
            </div>
        </div>
    </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="imgs/accountant2.jpg" alt="">
            <div class="caption">
                <h4 class="pull-right">$40/mo</h4>
                <h4><a href="profile">Steve Works</a>
                </h4>
                <p>With years of experience, I am your one stop solution for all accounting and finance related problems.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">3 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
            <div>
              <a class="btn btn-group center-block" href="profile">View Profile</span></a>
              <a class="btn btn-primary center-block" href="#">Buy Now</span></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="imgs/accountant5.jpg" alt="">
            <div class="caption">
                <h4 class="pull-right">$40/mo</h4>
                <h4><a href="profile">Steve Works</a>
                </h4>
                <p>With years of experience, I am your one stop solution for all accounting and finance related problems.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">12 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
            <div>
              <a class="btn btn-group center-block" href="profile">View Profile</span></a>
              <a class="btn btn-primary center-block" href="#">Buy Now</span></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="imgs/accountant6.jpg" alt="">
            <div class="caption">
                <h4 class="pull-right">$40/mo</h4>
                <h4><a href="profile">Steve Works</a>
                </h4>
                <p>With years of experience, I am your one stop solution for all accounting and finance related problems.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">31 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
            <div>
              <a class="btn btn-group center-block" href="profile">View Profile</span></a>
              <a class="btn btn-primary center-block" href="#">Buy Now</span></a>
            </div>
        </div>
    </div>
    </div>
    <hr>

  </div>
  <!-- /.row -->
