<!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Accountants List</h2>
    </div>

    <div class="row">
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">$2/day</h4>
                <h4><a href="#">Mark D.</a></h4>
                <p>Degree in Financial Accounting at ABC University. Master in Advanced Management with over 8 years experience.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">3 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
            <div>
              <a class="btn btn-group center-block" href="#">View Profile</span></a>
              <a class="btn btn-primary center-block" href="#">Buy Now</span></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">$50/mo</h4>
                <h4><a href="#">Ben Ten</a>
                </h4>
                <p>I can work on project related to Inventory management, Risk Analysis, Budgeting, Finance etc.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">12 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
            <div>
              <a class="btn btn-group center-block" href="#">View Profile</span></a>
              <a class="btn btn-primary center-block" href="#">Buy Now</span></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">$40/mo</h4>
                <h4><a href="#">Steve Works</a>
                </h4>
                <p>With years of experience, I am your one stop solution for all accounting and finance related problems.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">31 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
            <div>
              <a class="btn btn-group center-block" href="#">View Profile</span></a>
              <a class="btn btn-primary center-block" href="#">Buy Now</span></a>
            </div>
        </div>
    </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">$40/mo</h4>
                <h4><a href="#">Steve Works</a>
                </h4>
                <p>With years of experience, I am your one stop solution for all accounting and finance related problems.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">3 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
            <div>
              <a class="btn btn-group center-block" href="#">View Profile</span></a>
              <a class="btn btn-primary center-block" href="#">Buy Now</span></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">$40/mo</h4>
                <h4><a href="#">Steve Works</a>
                </h4>
                <p>With years of experience, I am your one stop solution for all accounting and finance related problems.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">12 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
            <div>
              <a class="btn btn-group center-block" href="#">View Profile</span></a>
              <a class="btn btn-primary center-block" href="#">Buy Now</span></a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="http://placehold.it/320x150" alt="">
            <div class="caption">
                <h4 class="pull-right">$40/mo</h4>
                <h4><a href="#">Steve Works</a>
                </h4>
                <p>With years of experience, I am your one stop solution for all accounting and finance related problems.</p>
            </div>
            <div class="ratings">
                <p class="pull-right">31 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </p>
            </div>
            <div>
              <a class="btn btn-group center-block" href="#">View Profile</span></a>
              <a class="btn btn-primary center-block" href="#">Buy Now</span></a>
            </div>
        </div>
    </div>
    </div>

    <hr>

  </div>
  <!-- /.row -->
