<!-- Page Heading -->
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-8 thumbnail">
    <div class="caption-full">
        <h4 class="pull-right">$2/day <a class="btn btn-success" href="#">Buy Plan</span></a></h4>
        <h4><a href="#">Mark D.</a>
        </h4>
        <p>Hi. I'm Mark D, Degree in Financial Accounting at ABC University. Master in Advanced Management with over 8 years experience.</p>
        <b>Description</b>
<p>If for are looking for an expert in bookkeeping and financial accounting, you're in the right place.<br>
I'm Degree in Financial Accounting, I've worked with KPMG (one of the big four auditing/accountancy firms in the world) and with PDVSA (the most important oil and natural gas company in Latin America) for several years.<br>
I can help you in your work related to:<br>
- Financial Accounting<br>
- Book keeping (Quickbooks, Xerox, Appfolio, Propertyware)<br>
- Chart of Accounts desing by IFRS<br>
- Bank Reconciliation<br>
<a href="#">Show more...</a></p>
    </div>
    <div class="ratings">
        <p class="pull-right">3 reviews</p>
        <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            4.0 stars
        </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 well review-box">
    <div class="text-right">
        <a class="btn btn-success">Leave a Review</a>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            Anonymous
            <span class="pull-right">10 days ago</span>
            <p>Mark was great in terms of performance. I would definitely order another plan!</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            Anonymous
            <span class="pull-right">12 days ago</span>
            <p>I've alredy ordered another plan!</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
            Anonymous
            <span class="pull-right">15 days ago</span>
            <p>I've seen some better than him, but not at this price. I definitely recommend this plan.</p>
        </div>
    </div>
  </div>
</div>
<!-- /.row -->
